<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="71110" android:versionName="7.11.10">
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application android:name=".DroidShowsApp" android:icon="@drawable/icon" android:label="@string/layout_app_name" android:allowBackup="true"
		android:theme="@style/Theme.TVMovieTracker" android:resizeableActivity="true">
	<activity
        android:exported="true"
        android:name=".DroidShows" android:configChanges="orientation|screenSize">
		<intent-filter>
			<action android:name="android.intent.action.MAIN"/>
			<category android:name="android.intent.category.LAUNCHER"/>
		</intent-filter>
		<meta-data android:name="android.app.default_searchable" android:value=".ui.AddSerie"/>
	</activity>
	<activity
        android:exported="false"
        android:label="@string/menu_context_add_serie" android:name=".ui.AddSerie" android:configChanges="orientation|screenSize"
		android:launchMode="singleTop">
		<intent-filter>
			<action android:name="android.intent.action.SEARCH"/>
			<category android:name="android.intent.category.DEFAULT"/>
		</intent-filter>
		<meta-data android:name="android.app.searchable" android:resource="@layout/add_serie_search"/>
	</activity>
	<activity
	        android:exported="false"
	        android:label="@string/menu_add_movie" android:name=".ui.AddMovie" android:configChanges="orientation|screenSize"
		android:launchMode="singleTop">
		<intent-filter>
			<action android:name="android.intent.action.SEARCH"/>
			<category android:name="android.intent.category.DEFAULT"/>
		</intent-filter>
		<meta-data android:name="android.app.searchable" android:resource="@layout/add_movie_search"/>
	</activity>
	<activity android:name=".ui.SerieSeasons" android:configChanges="orientation|screenSize"/>
	<activity android:name=".ui.DiscoverActivity" android:configChanges="orientation|screenSize"/>
	<activity android:name=".ui.SerieEpisodes" android:configChanges="orientation|screenSize"/>
	<activity android:name=".ui.ViewEpisode" android:configChanges="orientation|screenSize"/>
	<activity android:label="@string/menu_context_view_serie_details" android:name=".ui.ViewSerie" android:configChanges="orientation|screenSize"/>
	<activity android:label="@string/stats_title" android:name=".ui.StatsActivity" android:configChanges="orientation|screenSize"/>
	<activity android:label="@string/calendar_title" android:name=".ui.CalendarActivity" android:configChanges="orientation|screenSize"/>
	<receiver android:name=".BootReceiver" android:exported="false">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
		</intent-filter>
	</receiver>
	<receiver android:name=".EpisodeCheckReceiver" android:exported="false">
		<intent-filter>
			<action android:name="app.tvmovie.tracker.CHECK_NEW_EPISODES" />
		</intent-filter>
	</receiver>
	<receiver android:name=".UpNextWidget" android:exported="false">
		<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		</intent-filter>
		<meta-data android:name="android.appwidget.provider" android:resource="@xml/up_next_widget_info" />
	</receiver>
	</application>
</manifest>